.new-tweet {
  border: 1px solid;
  border-radius: 5px;
  background-color: #e8e8e8;
  border-color: lightgray;
  display: none;
}

.new-tweet #textArea {
  padding: 5px;
  margin: 1px 0 0 10px;
  width: 95%;
}

.new-tweet #tweetHeading {
  border-bottom: 1px solid;
  margin: 0px 10px 10px 10px;
  padding: 10px;
}

.new-tweet #tweetButton {
  padding: 1px;
  margin: 3px 15px 9px 11px
}

.counter {
  margin-left: 310px;
}

.tooManyChar {
  color:red;
}

#tweetError{
  float: left;
  color: red;
  padding-left: 10px;
}

/* Submitted Tweets */

.tweetArticle {
  margin: 15px 0 15px 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.tweetArticle:hover {
  border: 1px solid black;
}

.tweetArticle:hover .footerIcons {
  float: right;
  color: #5bbaaa;
  visibility: visible;
}

.tweetHeader {
  border-bottom: 1px solid lightgray;
  background-color: #e8e8e8;
  border-radius: 5px 5px 0 0;
  padding: 5px 0px;
}

.authorPic {
  float:left;
  border-radius: 5px;
  margin: 4px 5px 4px 6px
}

.author {
  color: grey;
}

.authorAddress {
  float: right;
  margin: -45px 10px;
  color: grey;
}

.tweetContent{
  padding: 10px;
}

.tweetFooter {
  border-top: 0.5px solid lightgrey;
  height: 3em;
  font-size: 0.8em;
  padding: 10px 10px;
}

.footerIcons {
  float: right;
  color: #5bbaaa;
  visibility: hidden;
}

.fa.fa-flag {
  padding-right: 4px;
  }

.fa.fa-retweet {
  padding-right: 4px;
}



